
h1 {
    text-align: center;
    color: blue;
    font-size: 24px;
    font-family: Verdana;
    
}

form {
    text-align: center;
}
.aviso {
    color: red;
}

table {
    margin: auto;
    
}

.tabelaCampo {
    text-align: right;
}

input[type="button"] {
    border-radius: 2px;
    border: solid 1px gray;
}


