#primeiraNota,#segundaNota {
    background-color: gold;
    border-radius: 15px;
    text-align: center;
    width: 180%;
}
input[type="button"] {
    background-color: green;
    border-radius: 15px;
    margin: 1px ;    
}

form {
    border: 1px solid black;
    border-radius: 15px;
    background: blue;
    width: 250px;
}
.corpo {
    margin-left: 40%;
}
input[type="button"]:active {
    background-color: red;
}